.topic {
    background-color: gray;
    padding: 6px;
    color: white;
    border-radius: 5px;
}

.sticky-form {
    position: sticky;
    top: 0px;
}

@media (max-width: 768px) {

    .br-sm {
        border-radius: 0.5rem;
    }

    .sticky-form {
        position: unset;
    }

}